body{
    background: #C4C4C4;
    font-family: "Rubik One", sans-serif;

}
.hero-spacing{
    background: black;
    height: 350px;
    color: white;
}
.hero-text{
    max-width: 960px;
    text-align: -webkit-left;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2 ;
}

nav{
    margin-left: 19%;
    margin-right: 19%;
}
.nameHome{
    text-align: -webkit-left;
}
.navCon{
    text-align: -webkit-right;
}

