body{
    background: #C4C4C4;
    font-family: "Rubik One", sans-serif;

}
.hero-spacing{
    background: black;
    height: 350px;
    color: white;
}
.hero-text{
    max-width: 960px;
    text-align: -webkit-left;
    margin-left: 25%;
    margin-right: 10%;
    padding-top: 50px;
    line-height: 4;
    float: left;
}

.hero-image{
    padding-top: 40px;

}

nav{
    max-width: 960px;
    margin-left: 24%;
}
.nameHome{
    text-align: -webkit-left;
}
.navCon{
    text-align: -webkit-right;
    margin-left: 51%
}

.foot {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 960px;
    margin-left: 25%;
    margin-right: 25%;
}

.copy{
    float: left;
}
.symbol {
    text-align: -webkit-right;
    float: none;
    -webkit-tap-highlight-color: transparent;
    color: black;
    outline: none;
    border: none;
}
.symbol a{
    color: black;
}

.bodyContent{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 20%;
}

.bodyContent a{
    color: black;
}


